<!DOCTYPE html>
<html>
<head>
	<title>P hunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	 <!-- Compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  
</head>
<body>
<div class="wrapper">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>


	{% include 'menu.html' %}

  	<div class="container">
    <h6>Eisenhower's Matrix [<a href="https://www.youtube.com/watch?t=79&v=tT89OZ7TNwc" target="_blank">Watch video to know more.</a>]</h6>
    <hr/>
  		<div class="row">
  		<div class="col-md-6">
  		<div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">[Q1] Urgent and Important [Do these now!]</h3>
                </div>
                <div class="panel-body">
                <form onsubmit="add_task('1');return false;">
                  <div class="form-group">
                  <label class="control-label" for="q1-text"></label>
                  <input type="text" class="form-control" id="q1-text" placeholder="Write task and press Enter.">
                </div>
                </form>
                <ul class="list-group" id="1-li">
                
                  
              </ul>
                </div>
              </div>
              </div>
  		
  		<div class="col-md-6">
  		<div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">[Q2] Important, but Not urgent [Schedule these]</h3>
                </div>
                <div class="panel-body">
                  <form onsubmit="add_task('2');return false;">
                  <div class="form-group">
                  <label class="control-label" for="q1-text"></label>
                  <input type="text" class="form-control" id="q2-text" placeholder="Write task and press Enter.">
                </div>
                </form>
                <ul class="list-group" id="2-li">
              </ul>
                </div>
              </div>
              </div>
  		</div>
      <hr />
  		<div class="row">
  		<div class="col-md-6">
  		<div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">[Q3] Urgent, but not Important [Delegate]</h3>
                </div>
                <div class="panel-body">
                  <form onsubmit="add_task('3');return false;">
                  <div class="form-group">
                  <label class="control-label" for="q3-text"></label>
                  <input type="text" class="form-control" id="q3-text" placeholder="Write task and press Enter.">
                </div>
                </form>
                <ul class="list-group" id="3-li">
                
                  
              </ul>
                </div>
              </div>
              </div>
  		<!-- <div class="col-md-1"></div> -->
  		<div class="col-md-6">
  		<div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">[Q4] Not Urgent and Not Important [Eliminate]</h3>
                </div>
                <div class="panel-body">
                  <form onsubmit="add_task('4');return false;">
                  <div class="form-group">
                  <label class="control-label" for="q4-text"></label>
                  <input type="text" class="form-control" id="q4-text" placeholder="Write task and press Enter.">
                </div>
                </form>
                <ul class="list-group" id="4-li">
                
                  
              </ul>
                </div>
              </div>
              </div>
  	</div>
  	{% include 'footer.html' %}
</div>

{% raw %}
<script id="task-template" type="text/x-handlebars-template">
  <li class="list-group-item"> 
  <input type="checkbox" value="{{id}}" onclick="mark_done('{{id}}')"> {{task}}
  <div class="pull-right">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="move" aria-expanded="true">Move To<span class="caret"></span></a>
  <ul class="dropdown-menu" aria-labelledby="move">
                <li><a href="#" onclick="move_task({{id}},'1')">Q1</a></li>
                <li><a href="#" onclick="move_task({{id}},'2')">Q2</a></li>
                <li><a href="#" onclick="move_task({{id}},'3')">Q3</a></li>
                <li><a href="#" onclick="move_task({{id}},'4')">Q4</a></li>
              </ul>
  </div>

  </li>
</script>
{% endraw %}


<script type="text/javascript">
  $('document').ready(function(){

    refresh_tasks();

  });

  function get_tasks(quarter){
    $.get("/task/quarter/"+quarter, function(data){
      data = JSON.parse(data);
      $("#"+quarter+"-li").html("");
      $.each(data, function(i, val){
        var source   = $("#task-template").html();
        var template = Handlebars.compile(source);
        var html    = template(val);
        $("#"+quarter+"-li").append(html);
        
      });
    });
  }

  function add_task(quarter){
    var task = $("#q"+quarter+"-text").val();
    var quarter = quarter;
    data = {"task":task, "quarter":quarter}
    
    $.ajax({
      type : "POST",
      url : "/task",
      data : data
    }).done(function(data){
      var task = $("#q"+quarter+"-text").val("");
      get_tasks(quarter);  
    }); 
    
    return false;
  }

  function move_task(id, q){
    data = {"quarter" : q,"taskid" : id}
    $.ajax({
      url : "/task/quarter",
      method : "POST",
      data : data
    }).done(function(data){
      data = JSON.parse(data);
      refresh_tasks();
    });

  }

  function refresh_tasks(){
    get_tasks("1");
    get_tasks("2");
    get_tasks("3");
    get_tasks("4");
  }

  function mark_done(id){
    data = {"status" : 1,"taskid" : id}
    $.ajax({
      url : "/task/status",
      method : "POST",
      data : data
    }).done(function(data){
      data = JSON.parse(data);
      get_tasks(data["quarter"]);
    });
  }

</script>

</body>
</html>