<style type="text/css">
	.footer{
	 position:fixed;
	 bottom:0;
	 
	}
</style>
    
    <!-- Start Footer Copyright Bar -->
    
	<div class="copyright-bar bg-black footer">
		<div class="container">
			<div class="editContent">
				<p class="pull-left small">© MindApps - Productivity Kit</p>
			</div>
			<div class="editContent">
				<p class="pull-right small">Made with <span style="color:red" class="fa fa-heart pomegranate"></span> in Mumbai</p>
			</div>
		</div>
	</div>
	
	<!--// END Footer Copyright Bar -->
    
