<!DOCTYPE html>
<html>
<head>
	<title>Mind Apps | Compyle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	 <!-- Compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% include 'menu.html' %}
<div class="container">

	

	{% if session.logged_in %}
  	<div class="container">
  	
  		<div class="list-group">
  
  <a href="/eisenmatrix" class="list-group-item">
    <h4 class="list-group-item-heading">Eisenhower Matrix</h4>
    <p class="list-group-item-text"><h5>Divide your tasks according to importance and urgency. Click to use app.</h5></p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Priority Task Management</h4>
    <p class="list-group-item-text"><h5>First things first approach to task management. [Coming Soon]</h5></p>
  </a>
  <!-- <a href="/descision" class="list-group-item">
    <h4 class="list-group-item-heading">Decision Matrix Analysis</h4>
    <p class="list-group-item-text"><h5>Making a Decision by Weighing Up Different Factors</h5></p>
  </a> -->
</div>
	</div>
	{% else %}
	<h3>A collection of productivity tools.</h3>
	<hr>
	
	<p>Mind Apps is a set of standard models as web applications to help you be more productive.</p>
	<p>Models available so far :</p>
	<ul>
		<li>Priority Task Management</li>
		<li>Eisenhower Matrix [<a href="https://www.youtube.com/watch?t=79&v=tT89OZ7TNwc" target="_blank">What's that?</a>]</li>
	</ul>
	<br>
	<a href="/login">
	<button class="btn btn-danger" >
	Login with Google
	</button>
	</a>
	{% endif %}

{% include 'footer.html' %}
</div>
</body>
</html>