<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if session.logged_in %}
    <a class="navbar-brand" href="/">Mind Apps | <small>{{session["name"]}}</small></a>
    <!-- <img src="{{session['avatar']}}"> -->
    {% else %}
    <a class="navbar-brand" href="/">Mind Apps</a>
  {% endif %}
      
    </div>

    
      <ul class="nav navbar-nav navbar-right">
      {% if not session.logged_in %}
        <li><a href="/login">Login With Google</a></li>
        {% else %}
        <li><a href="/logout">Logout</a></li>
       {% endif %} 
      </ul>
    </div>
  </div>
</nav>