<!DOCTYPE html>
<html>
<head>
	<title>Compyle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	 <!-- Compiled and minified CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>  
</head>
<body>


<nav class="navbar header">
  <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" class="navbar-brand"><b>Compyle</b> | By {{profile}}</a>
          
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          
          <ul class="nav navbar-nav navbar-right">
             <!-- <li><a href="http://www.bootply.com" target="_ext">Bootply+</a></li>
             <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                  <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                </ul>
             </li>
             <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li> -->
             <li><a href="#">Logout</a></li>
           </ul>
        </div>  
     </div> 
</nav>


<div class="container" id="main">

<div class="col-md-10 row">
<div class="panel panel-info">
  <div class="panel-heading"><b>Python</b></div>
  <div class="panel-body">
    These are all the resources that have used me become a python programmer. Hope they help you too!
    <p><small class="text-success">For progarmming beginners, python beginners</small></p>
    <hr>
    <ul>
    <li>
    <a href="">Dive into Python.</a>
    <p>Dive into Python is the absolutely best book you can start off with.</p>
    </li>
    <li>
    <a href="">Python for dummies.</a>
    <p>If you can't find a copy for dive into python.</p>
    </li>
    <li>
    <a href="">Dive into Python.</a>
    <p>Dive into Python is the absolutely best book you can start off with.</p>
    </li>
    </ul>
    
  </div>

  </div>



</div>


</div>
</body>
</html>