<!DOCTYPE html>
<html>
<head>
	<title>Mind Apps | Compyle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	 <!-- Compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
  
  
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% include 'menu.html' %}
<div class="container">

<div class="col-md-6">
	<div class="form-group">
      <label class="control-label" for="q1-text"></label>
      <input type="text" class="form-control" id="q1-text" placeholder="Write task and press Enter.">
      <hr>
    </div>

    <div class="row">
    	<ul style="list-style-type: none;">
    		<li>
    			  <input type="checkbox">
    			Get the domain pointed to phunt.
    			<span class="pull-right">
    			<!-- <button class="btn btn-success btn-sm">Do it now</button> -->
    			<i class="fa fa-motorcycle fa-lg text-success"></i>
    			<i class="fa fa-trash fa-lg text-danger"></i></span>
    		</li>
    	</ul>
    </div>


</div>

<div class="col-md-6">
	priorities
</div>

{% include 'footer.html' %}
</div>

</body>
</html>